<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("style/style.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header><h1>My Amazing Blog !</h1>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="link" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="link" href="{{ path('app_login') }}">Login</a>
            <a class="link" href="{{ path('app_register') }}">Register</a>
        {% endif %}
       
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>&copy; Puck 2015-{{ "now"|date("Y") }}</footer>
    </body>
</html>
